{% extends 'layout.html' %}

{% set pageId = 'page-create-point' %}

{% block title %}
    <title>Criar um ponto de coleta</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="/styles/create-point.css">
    <link rel="stylesheet" href="/styles/modal.css">
{% endblock styles %}

<link href="https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:wght@700&display=swap" rel="stylesheet">

{% block content %}
    {% include "partials/page-header.html" %}
    <form action="/savepoint" method="POST">
        <h1>Cadastro do ponto de coleta</h1>

        <fieldset>
            <!--fieldset serve para agrupar os dados, é uma coleção-->
            <legend>
                <h2>Dados da entidade</h2>
            </legend>

            <div class= "field-group">
                <div class="field">
                    <label for="name">Nome da entidade</label required="required">
                    <!--o name no for serve apenas para semântica, para deixar mais claro que o label refere-se ao input que colocamos name-->
                    <input type="text" name='name'>
                    <!--esse name foi ecolhido por nós-->
                </div>
                <div class="field">
                    <label for="name">Imagem da entidade</label>
                    <input type="url" name='image' placeholder= "http://" required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="address">Endereço</label>
                    <input type="text" name='address' required="required">
                </div>
                <div class="field">
                    <label for="address2">Número/Complemento</label>
                    <input type="text" name='address2' required="required">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="state">Estado</label>
                    <select name="uf" required="required">
                        <option value="">Selecione o Estado</option>
                    </select>

                    <input type="hidden" name="state">
                    <!--esconde o número do estado na url quando submete o formulário-->
                </div>
                <div class="field">
                    <label for="city">Cidade</label>
                    <select name="city" disabled="disabled" required="required">
                        <option value="">Selecione a Cidade</option>
                    </select>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <h2>Itens de coleta</h2>
                <span>Selecione um ou mais itens abaixo</span>
            </legend>

            <div class="items-grid">

                <li data-id='Lâmpadas'>
                    <!--data id é para melhorar a semântica usando um identificador de numero. senão da de chamar o id de item-1 ou algo do gênero. li se refere a lista-->
                    <img src="/assets/lampadas.svg" alt="Lâmpadas">
                    <!--o alt é para acessibilidade-->
                    <span>Lâmpadas</span>
                </li>

                <li data-id='Pilhas e Baterias'>
                    <img src="/assets/baterias.svg" alt="Pilhas e Baterias">
                    <!--o alt é para acessibilidade-->
                    <span>Pilhas e Baterias</span>
                </li>

                <li data-id='Papéis e Papelão'>
                    <img src="/assets/papeis-papelao.svg" alt="Papéis e Papelão">
                    <!--o alt é para acessibilidade-->
                    <span>Papéis e Papelão</span>
                </li>

                <li data-id='Resíduos Eletrônicos'>
                    <img src="/assets/eletronicos.svg" alt="Resíduos Eletrônicos">
                    <!--o alt é para acessibilidade-->
                    <span>Resíduos Eletrônicos</span>
                </li>

                <li data-id='Resíduos Orgânicos'>
                    <img src="/assets/organicos.svg" alt="Resíduos Orgânicos">
                    <!--o alt é para acessibilidade-->
                    <span>Resíduos Orgânicos</span>
                </li>

                <li data-id='Óleo de Cozinha'>
                    <img src="/assets/oleo.svg" alt="Óleo de Cozinha">
                    <!--o alt é para acessibilidade-->
                    <span>Óleo de Cozinha</span>
                </li>

            </div>

            <input type="hidden" name="items">
            <!--serve para no javascript eu adicionar valor aos itens da tag li clicados-->

        </fieldset>

        <button type='submit'>Cadastrar ponto de coleta</button>

    </form>

{% endblock content %}

{% block modal %}
    {% if saved %}
        {% include 'partials/point-created.html'%}
    {% endif %}
{% endblock modal %}

{% block scripts %}
    <script src="/scripts/create-point.js"></script>
{% endblock scripts %}